<div class="mt-50 mb-50 col-sm-offset-6 col-sm-6">
  <% if !flash[:notice].blank? %>
  <div class="alert alert-success">
    <strong>Success!</strong><%= flash[:notice] %>
  </div>
  <% end %>
  <% if !flash[:error].blank? %>
  <div class="alert alert-danger">
    <strong>Danger!  </strong><%= flash[:error] %>
  </div>
  <% end %>
    <h2 style="margin-left: 30%;" class="mb-40"> Login </h2>

<%= bootstrap_form_tag(
                     :method => :post,
                     :url => users_attempt_login_path ) do |f|%>

<%= f.text_field :username,
              placeholder: 'username ',
              class: 'form-control',
              required: true %>

<%= f.password_field :password,
              placeholder: 'password',
              class: 'form-control',
              required: true %>

  <%= f.submit 'Login', class: 'btn btn-primary' %>
  <% end %>
  <h5 class="mt-5">New Member?</h5> <%= link_to("Sign up", users_signup_path, :class => 'btn btn-warning') %>
  </div>
