<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
</script>

<div class="mt-50 mb-50 col-sm-offset-6 col-sm-6">
      <h3 style="margin-left: 30%;  " class="mb-40">Sign up <small style="color:orange;">it's free!</small></h3>
 <%= bootstrap_form_for(@user,
                       :as => @user,
                       :url => users_create_path(@user)) do |f| %>

  <%= f.text_field :first_name,
            placeholder: 'first name',
            class: 'form-control' %>

  <%= f.text_field :last_name,
            placeholder: 'last name',
            class: 'form-control' %>

  <%= f.text_field :username,
	           placeholder: 'username (will be shown publicly)',
	           class: 'form-control' %>

  <%= f.text_field :email,
	           placeholder: 'email',
	           class: 'form-control' %>

  <%= f.password_field :password,
                       placeholder: 'password',
                       class: 'form-control' %>

  <%= f.password_field :password_confirmation,
                       placeholder: 'password confirmation',
                       class: 'form-control' %>

  <%= f.file_field     :avatar%>

                      <div class="alert alert-success">
                        <span class="img"></span>
                      </div>
  <%= f.submit 'Sign up', class: 'btn btn-warning sign-up-button' %>

<% end %>

<h5 class="mt-5">Not a new Member?</h5> <%= link_to("Login", users_login_path, :class => 'btn btn-primary') %>

<script type="text/javascript">

  $(document).on('change', '.custom-file-input', function(e) {
  // split file path by back or forward slashes
  let path = this.value.split(/^.*[\\\/]/);
  $('.img').text(path.slice(-1));
});

</script>

</div>
