<!-- Search Wrapper Area Start -->
<div class="search-wrapper section-padding-100">
    <div class="search-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="search-content">
                    <form action="/products/" method="get">
                        <input type="search" name="search" id="search" placeholder="Type your keyword...">
                        <button type="submit"><img src="/amado/img/core-img/search.png" alt=""></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Search Wrapper Area End -->

<!-- ##### Main Content Wrapper Start ##### -->
<div class="main-content-wrapper d-flex clearfix">

    <!-- Mobile Nav (max width 767px)-->
    <div class="mobile-nav">
        <!-- Navbar Brand -->
        <div class="amado-navbar-brand">
            <a href="/"><img src="/amado/img/core-img/logo.png" alt=""></a>
        </div>
        <!-- Navbar Toggler -->
        <div class="amado-navbar-toggler">
            <span></span><span></span><span></span>
        </div>
    </div>

    <!-- Header Area Start -->
    <header class="header-area clearfix">
        <!-- Close Icon -->
        <div class="nav-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <!-- Logo -->
        <div class="logo">
            <a href="/"><img src="/amado/img/core-img/logo.png" alt=""></a>
        </div>
        <!-- Amado Nav -->
        <nav class="amado-nav">
            <ul>
              <li><a href="#" class="search-nav"><img src="/amado/img/core-img/search.png" alt=""> Search</a></li>
                <li class="active"><%= link_to("Home", home_path)%></li>
                <li><%= link_to('Shop', products_path) %></li>
                <% if user_logged_in? %>
                <li><%= link_to("My Profile", user_show_path) %></li>
                <li><%= link_to("Logout", users_logout_path) %></li>
                <% else %>
                <li><%= link_to("Login", users_login_path) %></li>
                <% end %>
            </ul>
        </nav>

        <!-- Cart Menu -->
        <div class="cart-fav-search mb-100">
            <a href=<%=shopping_carts_path%> class="cart-nav"><img src="/amado/img/core-img/cart.png" alt=""> Cart <span>(<%=@shopping_cart.cart_items.count %>)</span></a>

        </div>

    </header>
    <!-- Header Area End -->
